* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', 'Verdana', sans-serif;
	background: #ecf0f1;
}

.upload-wrapper {
   	display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.container {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form {
	display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.btn-back {
	display: inline-block;
	margin-top: 40px;
}